[data-toolbar="very_simple"] iframe {
  height: 100px !important;
}
td.media-icon img[src$=".svg"],
img[src$=".svg"].attachment-post-thumbnail {
  width: 100% !important;
  height: auto !important;
}
