/* Small devices (tablets, 768px and up) */

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	.section{

		.section-content{
		}

		.section-title{
			h2{
				font-size: 20px;
			}
		}

		.section-body{

			.wrap{
			}

			h1{
				font-family: 'NeuzeitGroteskBold',sans-serif;
				font-size: 72px;
				letter-spacing: -2px;
				line-height: 82px;
				font-weight: normal;
				margin:0 80px;
			}
		}
	}
}